<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">

    <div class="body-main">
      <!-- Example row of columns -->
      <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span9">
                          <!-- Main hero unit for a primary marketing message or call to action -->
                          <div class="hero-unit">
                              <hgrpup>
                                    <img src="img/Logo_1.jpg" alt="ASUKA">    
                                    <h2>L'association Franco-Japonaise</h2>
                                    <blockquote>
                                    "Que s’est-il passé ? Le 11 mars 2011, le Japon a subi une catastrophe gigantesque : un tremblement de terre 
                                    de magnitude 9.0 sur l'échelle de Richter, suivi par un immense Tsunami, générant des vagues de plus de vingt 
                                    mètres qui ont emporté maisons et familles sur leur passage. Alors qu’on pensait que le pire était passé, 
                                    on découvre que la centrale de Fukushima Daiichi est dans un état plus que critique, et proche de l’explosion. 
                                    La catastrophe est aussi nucléaire..."
                                    </blockquote>
                                  </hgrpup>
                          </div>

                    </div>
                    <div class="span9 events">
                            <h2>Evènements</h2>
                            <ul id="event" class="clearfix">
                                <li class="event-info clearfix">
                                        <div class="event-img">
                                                <img src="img/evt-PourDemain.jpg" width="150" height="150" alt="pour demain"/>    
                                        </div>
                                        <div class="event-desc">
                                            <hgroup>
                                                <h4>"Pour Demain" </h4>
                                                <p class="date">2012/03/11 </p>
                                            </hgroup>
                                            <p>
                                                En commémoration du premier anniversaire du séisme survenu au Japon le 11 Mars 2011, 
                                                une journée caritative fut célébré, afin que les efforts entrepris pour surmonter cette 
                                                tragédie ne soient pas oubliés. Cette journée se déroula à la 
                                                <a href="http://www.nanterre.fr/Citoyens/Delavilleaumonde/Actualit%C3%A9s/Fukushima.htm">Maison des Associations</a> 
                                                ainsi qu'au Cinéma des Lumières à Nanterre, rythmée par la vente de plats Japonais, d'artisanat 
                                                et d'origamis suspendus, de démonstrations de calligraphie, la vente d'oeuvres artisanales créées 
                                                par les victimes du séisme au Japon, l'exposition des photos d'animaux abandonnés et leurs amis Japonais,
                                                la projection de diaporamas
                                            </p>
                                        </div>
                                        <div class="span1 event-more">
                                            <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/78117525@N06/sets/72157629247827812/show/"><i class="icon-info-sign"></i> photos</a>
                                        </div>
                                </li>
                            
                                <li class="event-info clearfix">
                                    <div class="event-img">
                                          <img src="http://farm7.staticflickr.com/6238/6296372354_52be61eca5_q.jpg" width="150"/>
                                    </div>
                                    <div class="event-desc">
                                        <h4> "Cuisine Japonaise" </h4>
                                        <p class="date">23/10/2011</p>
                                        <p>
                                            Cours de cuisine japonaise par un traiteur Japonais à WAMAZEN Paris
                                        </p>
                                    </div>
                                    <div class="event-more">
                                        <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/kokoro_japon/sets/72157627889675455/show/"><i class="icon-info-sign"></i> photos </a> 
                                    </div>
                                </li>
                                <li class="event-info clearfix">
                                    <div class="event-img">
                                        <img src="http://placehold.it/150x150" width="150"/>
                                    </div>
                                    <div class="event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">10/07/2011</p>
                                        <p>
                                            Vente de charité au Japon et visite de plusieurs villes sinistrées
                                        </p>
                                    </div>
                                    <div class="event-more">
                                    </div>
                                </li>
                                <li class="event-info clearfix">
                                    <div class="event-img">
                                        <img src="http://farm6.staticflickr.com/5105/5863222077_46dedb5e0e_q.jpg" width="150"/>
                                    </div>
                                    <div class="event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date">11/06/2011</p>
                                        Vente de charité à Paris 20°. Collaboration avec l’Association pour l'Estampe et l'Art Populaire. 
                                        Soirée d'échange Franco-Japonais pour la solidarité avec la ville de Watari (Miyagi, Japon). 
                                        Galerie de l'Association pour l'estampe et l'art populaire, 49bis, rue des Cascades, 75020, Paris. 
                                    </div>
                                    <div class="event-more">
                                        <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/kokoro_japon/sets/72157626905187405/show/"><i class="icon-info-sign"></i> photos</a>
                                    </div>
                                </li>
                                <li class="event-info clearfix">
                                    <div class="event-img">
                                        <img src="http://farm6.staticflickr.com/5298/5588126313_ce7418277c_q.jpg" width="150"/>
                                    </div>
                                    <div class="event-desc">
                                        <h4> "Vente de Charité" </h4>
                                        <p class="date"> 03/04/2011 </p>
                                        Vente de charité à Nanterre. Participation de la ville de Nanterre, S.O.S. Famille Emmaüs, Cerise Nanterre 
                                    </div>
                                    <div class="event-more">
                                        <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/francojapon/sets/72157626523429914/show/"><i class="icon-info-sign"></i> photos</a>
                                    </div>
                                </li>
                            </ul>
                            
                            
                    </div>
            
                    <div class="span9">
                          <h2>Le saviez-vous?</h2>
                          <p><b>le senbazuru </b></p>
                          <p> Senbazuru signifie "la Légende des milles grues", une légende originaire du Japon selon laquelle on peut voir son voeu de santé, longévité, d'amour ou de bonheur s'exaucé si l'on plie mille grues en papier. Il s'agit bien entendu d'origamis, pratique très rampandue au Japon.</p>
                    </div>
                </div>
            </div>
    
            <div class="span3 sidepanel">
                <ul>
                    <li>
                        <h3>Rejoignez-nous!</h3>
                        <div id="fb-root"></div>
                        <a href="<%=fb_public_loc%>"><img src="<%=fb_app_logo%>?type=normal"/></a><br/>
                        <!-- 
                                <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nanterre+-+Ville,+Nanterre,+France&amp;aq=1&amp;oq=nanterre+ville+&amp;sll=48.871003,2.391737&amp;sspn=0.004269,0.009645&amp;ie=UTF8&amp;hq=&amp;hnear=Nanterre+-+Ville&amp;ll=48.895266,2.195954&amp;spn=0.01707,0.038581&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Nanterre+-+Ville,+Nanterre,+France&amp;aq=1&amp;oq=nanterre+ville+&amp;sll=48.871003,2.391737&amp;sspn=0.004269,0.009645&amp;ie=UTF8&amp;hq=&amp;hnear=Nanterre+-+Ville&amp;ll=48.895266,2.195954&amp;spn=0.01707,0.038581&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small> 
                        -->

                        <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=fb_app_id%>";
                              fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>

                        <div class="fb-like" data-href="<%=url_ref%>" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
                        
                        <script>
                              window.fbAsyncInit = function() {
                                    FB.init({
                                      appId      : '<%=fb_app_id%>', 
                                      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                                      status     : true, // check login status
                                      cookie     : true, // enable cookies to allow the server to access the session
                                      xfbml      : true  // parse XFBML
                                    });
                                    
                                    // Additional initialization code here                
                                    FB.getLoginStatus(handleSessionResponse);
                    
                                    $('#login').bind('click', function() {
                                        FB.login(handleSessionResponse);
                                    });
                                
                                    $('#logout').bind('click', function() {
                                        FB.logout(handleSessionResponse);
                                    });
                
                              };
                            
                              // handle a session response from any of the auth related calls
                              function handleSessionResponse() {
                                    if (response.authResponse) {
                                        console.log('Access Token: ' + response.authResponse.accessToken);
                                        $('#user-info').html(response.id + ' - ' + response.name);
                                    } else {
                                        console.log('User cancelled login or did not fully authorize.');
                                    }
                                    <!--
                                    FB.api('/me', function(response) {
                                        console.log(response);
                                    });
                                    -->
                              }
                            </script>
                    </li>
    
                    <li>
                        <h3>Partagez</h3>
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_preferred_4"></a>
                            <a class="addthis_button_compact"></a>
                            <a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9b030d7caf5ae6"></script>
                        <!-- AddThis Button END -->           
                    </li>
                    <li>
                            <!--<h3>Nouvelles</h3>-->
                            <p> </p>
                            <div class="fb-add-to-timeline" data-show-faces="true" data-mode="button" locale="fr"></div>        
                            <!-- <div class="span4 fb-activity" data-site="<%=fb_app_loc%>" data-app-id="<%=fb_app_id%>" data-width="50" data-height="100" data-header="true" data-font="segoe ui" data-recommendations="false"></div> -->
                    </li>
                </ul>
          </div> <!-- /sidepanel -->

      </div> 
    
      <hr>
    </div> <!-- /body-main-->
</div> <!-- /container -->

<footer class="clearfix">
    <b>&copy; ASUKA 2012 <b><br>
         Interdiction formelle de copier le contenu du site, sans notre autorisation <br> 
         (当ウエブサイトに掲載されている全ての内容の無許可コピー・転載・転用禁止)
    <br>
</footer>
