<!-- Include head banner on top and include scripts -->

<% header = partial('header.ejs') %>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
      <hgrpup>
        <img src="img/Logo_1.jpg" alt="ASUKA">    
        <h2>L'association Franco-Japonaise</h2>
        <blockquote>
        "Que s’est-il passé ? Le 11 mars 2011, le Japon a subi une catastrophe gigantesque : un tremblement de terre 
        de magnitude 9.0 sur l'échelle de Richter, suivi par un immense Tsunami, générant des vagues de plus de vingt 
        mètres qui ont emporté maisons et familles sur leur passage. Alors qu’on pensait que le pire était passé, 
        on découvre que la centrale de Fukushima Daiichi est dans un état plus que critique, et proche de l’explosion. 
        La catastrophe est aussi nucléaire..."
        </blockquote>
      </hgrpup>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span8">
      <div class="row">
        <div class="span8">
          <h2>Evènements</h2>
          <ul class="thumbnails">
              <li class="span2" data-toggle="collapse" data-target="#evt-5">
                <div class="thumbnail"> 
                  <img src="img/evt-PourDemain.jpg" width="180" height="180" alt"pour demain"/>
                  <h5>2012/03/11 "Pour Demain" </h5>
                  <p id="evt-5" class="collapse in">
                    en commémoration du premier anniversaire du séisme survenu au Japon le 11 Mars 2011, une journée caritative fut célébré, afin que les efforts entrepris pour surmonter cette tragédie ne soient pas oubliés. Cette journée se déroula à la Maison des Associations ainsi qu'au Cinéma des Lumières à Nanterre, rythmée par la vente de plats Japonais, d'artisanat et d'origamis suspendus, de démonstrations de calligraphie, la vente d'oeuvres artisanales créées par les victimes du séisme au Japon, l'exposition des photos d'animaux abandonnés et leurs amis Japonais, la projection de diaporamas
                  </p>
                    <a class="btn-inverse btn-small" href="http://www.nanterre.fr/Citoyens/Delavilleaumonde/Actualit%C3%A9s/Fukushima.htm"><i class="icon-info-sign"></i> Le séisme 1 an après &raquo;</a>
                </div>
              </li>
              <li class="span2" data-toggle="collapse" data-target="#evt-4">
                <div class="thumbnail"> 
                    <img src="http://placehold.it/180x180" />
                    <h5 > 23/10/2011 "Cuisine Japonaise" </h5>
                    <p id="evt-4" class="collapse in">
                    Cours de cuisine japonaise par un traiteur Japonais à WAMAZEN Paris
                    </p>
                    <!--<a class="btn-inverse btn-small" href="http://www.flickr.com/photos/kokoro_japon/sets/72157627889675455/show/"><i class="icon-info-sign"></i> photos </a> -->
                </div>
              </li>
              <li class="span2" data-toggle="collapse" data-target="#evt-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/180x180" />
                    <h5 > 10/07/2011 "Vente de Charité" </h5>
                    <p id="evt-3" class="collapse in">
                        Vente de charité au Japon et visite de plusieurs villes sinistrées
                    </p>
                </div>
              </li>
              <li class="span2" data-toggle="collapse" data-target="#evt-2">
                <div class="thumbnail"> 
                    <img src="http://placehold.it/180x180" />
                    <h5 > 11/06/2011 "Vente de Charité" </h5>
                    <p id="evt-2" class="collapse in">
                        Vente de charité à Paris 20°. Collaboration avec l’Association pour l'Estampe et l'Art Populaire. 
                    </p>
                    <!-- <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/kokoro_japon/sets/72157626905187405/show/"><i class="icon-info-sign"></i> photos</a> -->
                </div>
              </li>
              <li class="span2" data-toggle="collapse" data-target="#evt-1">
                <div class="thumbnail"> 
                    <img src="http://placehold.it/180x180" />
                    <h5 > 03/04/2011 "Vente de Charité" </h5>
                    <p id="evt-1" class="collapse in">
                        Vente de charité à Nanterre. Participation de la ville de Nanterre, S.O.S. Famille Emmaüs, Cerise Nanterre 
                    </p>
                    <!--  <a class="btn-inverse btn-small" href="http://www.flickr.com/photos/francojapon/sets/72157626523429914/show/"><i class="icon-info-sign"></i> photos</a> -->
                </div>
              </li>

          </ul>
        </div>
        <div class="span8">
          <h2>Le saviez-vous?</h2>
          <p><b>le senbazuru </b></p>
          <p> Senbazuru signifie "la Légende des milles grues", une légende originaire du Japon selon laquelle on peut voir son voeu de santé, longévité, d'amour ou de bonheur s'exaucé si l'on plie mille grues en papier. Il s'agit bien entendu d'origamis, pratique très rampandue au Japon.</p>
        </div>
      </div>
  </div>

  <div class="row hidden-phone">
    <div class="span4">
      <h2>Rejoignez-nous!</h2>
        <div id="fb-root"></div>
        <!--
        <button id="login">Login</button>
        <a class="btn" id="login" href="#">login &raquo;</a>
        <a class="btn" id="logout" href="#">logout &raquo;</a>
        <span id="user-info" style="border:1px solid #888"></span>
        -->
        <a href="<%=fb_public_loc%>"><img src="<%=fb_app_logo%>?type=normal"/></a><br/>
        <fb:login-button show-faces="true" width="200" max-rows="1" scope="publish_actions"></fb:login-button>
        <div id="fb-root"></div>
        <div class="fb-like" data-href="<%=url_ref%>" data-send="false" data-width="450" data-show-faces="true" data-font="segoe ui">
        </div>
        <script>
              window.fbAsyncInit = function() {
                    FB.init({
                      appId      : '<%=fb_app_id%>', 
                      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
                      status     : true, // check login status
                      cookie     : true, // enable cookies to allow the server to access the session
                      xfbml      : true  // parse XFBML
                    });
                    
                    // Additional initialization code here                
                    FB.getLoginStatus(handleSessionResponse);
    
                    $('#login').bind('click', function() {
                        FB.login(handleSessionResponse);
                    });
                
                    $('#logout').bind('click', function() {
                        FB.logout(handleSessionResponse);
                    });

              };
            
              // handle a session response from any of the auth related calls
              function handleSessionResponse() {
                    if (response.authResponse) {
                        console.log('Access Token: ' + response.authResponse.accessToken);
                        $('#user-info').html(response.id + ' - ' + response.name);
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                    <!--
                    FB.api('/me', function(response) {
                        console.log(response);
                    });
                    -->
              }
        </script>
    </div>
    <div class="span4">
        <h2>Nouvelles</h2>
        <p>[some news here] </p>
        <div class="fb-add-to-timeline" data-show-faces="true" locale="fr"></div>
        <div class="span4 fb-activity" data-site="<%=fb_app_loc%>" data-app-id="<%=fb_app_id%>" data-width="300" data-height="300" data-header="true" data-font="segoe ui" data-recommendations="false"></div>
    </div>
  </div>
  <hr>

  <footer>
    <p>&copy; Asuka 2012</p>
  </footer>


    <!--
    <script> 
        $(document).ready(function() {
            $("#demain").collapse('hide')
            $("#other").collapse('hide')
            $("#other2").collapse('hide')
            $("#loader").click(function() {
                
                $("#container").load("about");
                alert("this link is working");
                
            });
        });   
    </script>
    -->

</div> <!-- /container -->