<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
  <head>
    <meta charset="utf-8">
    <title>ASUKA, Association Franco-Japonaise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site d'information sur l'association Franco-Japonaise Asuka">
    <meta name="author" content="Fok Frederic">

    <meta property="fb:app_id" content="<%=fb_app_id%>" /> 
    <meta property="og:type" content="<%=fb_app_namespace%>:recipe" /> 
    <meta property="og:title" content="<%=title%>" /> 
    <meta property="og:image" content="<%=fb_app_logo%>" /> 
    <meta property="og:description" content="<%=description%>" /> 
    <meta property="og:url" content="http://asuka.herokuapp.com/">

    <!-- Les styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <!-- add own stylesheet at the end for customization -->
    <link href="css/mystyle.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>

    <%- header %>
    <%- body %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>